@model AwesomeIt.Models.BaseModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MetaTitle</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />

    <link href="~/Content/Reset.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/"><img src="~/Content/Images/awesome_logo.jpg" /></a>
            <nav>
                <ul>
                    @foreach (var item in Model.MainMenuUrls)
                    {
                        <li>
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-wrapper">
        <div class="left sidebar">

            @if(Model.ActiveProjects.Any())
            {
                <h2>Igangværende projekter</h2>
                <ul>
                    @foreach (var item in Model.ActiveProjects)
                    {
                        <li>
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            }

            @if(Model.ArchivedProjects.Any())
            {
                <div class="foldable">
                    <div class="show">
                        <h2><span class="green">+</span> Arkiverede projekter</h2>
                    </div>
                    <div class="hide">
                        <h2><span class="red">-</span> Arkiverede projekter</h2>
                    </div>
                    <div class="foldable-content">
                        <ul>
                            @foreach (var item in Model.ArchivedProjects)
                            {
                                <li>
                                    <a href="@item.Url">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="clear"></div>
    <footer>
        <p>Copyright Awesome IT 2013 - Contact: support@awesomeIt.com</p>
    </footer>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
